* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.submit-button {
  background: #FFC22D;
  border-radius: 4px;
  width: 300px;
  height: 50px;
}

.div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.header .header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

.header .header-left:hover {
  opacity: 0.3;
}

.header .header-left h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #212B31;
  margin-left: 8px;
}

.header .header-left a:active {
  opacity: 0.6;
}

/* .header .header-left h3::before {
  content: url(../images/logo-header.svg);
} */

.header .header-right {
  display: flex;
}

.header .header-right a li:hover {
  color: #036FC7;
}

.header .header-right a li:active {
  color: #036FC7;
  opacity: 0.6;
}


.header-right .dropdown-wrapper {
  transition: all ease 1s;
  position: relative;
  height: 80px;
  margin-top: 20px;
} 

.header-right .dropdown-wrapper:hover .dropdown-menu {
  /* display: block; */
  transition: all ease .8s;
  opacity: 1;
  top: 80px;
  position: absolute;
}

.header-right .dropdown-wrapper:hover .dropdown-menu .menu-item {
  display: block;
}

.header-right .dropdown-wrapper .dropdown-menu .menu-item:hover {
  color: #036FC7;
}



.header-right .dropdown-wrapper .dropdown-menu {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* display: none; */
  opacity: 0;
  color: #72787D;
  background: #FFFFFF;
  border-radius: 4px;
}


.header-right .dropdown-wrapper .dropdown-menu .menu-item {
  display: block;
  background-color: #fff;
  padding: 13px 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: none;
}



.header .div .header-right ul {
  display: flex;
  align-items: center;
}

.header .div .header-right ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #72787D;

  padding: 39px 11px;
}

.header .div .header-right ul .button-head {
  background: #212B31;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 20px;
  transition: all ease 0.5s;
}

.header .div .header-right ul .button-head:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #212B31;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  box-sizing: border-box;
  border-radius: 4px;
}

.header .div .header-right ul .button-head:active {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #FFC22D;
  background: #212B31;
  opacity: 0.6;
  border: 1px solid #212B31;
  box-sizing: border-box;
  border-radius: 4px;
}

.section1 .section1-top h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212B31;
  margin: 74px 0 30px 0;
  padding-top: 200px;

}

.section1 .section1-top .buttons {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.section1 .section1-top .buttons .b1 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #212B31;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 13px 25px;
  margin-right: 16px;
  transition: all ease 0.5s;
  outline: none;
}


.section1 .section1-top .buttons .b1:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.section1 .section1-top .buttons .b1:active {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #FFC22D;
  cursor: pointer;
  background: #212B31;
  opacity: 0.6;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.section1 .section1-top .buttons .b2:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  background: #212B31;
  border: 1px solid #212B31;
  box-sizing: border-box;
  border-radius: 4px;
}

.section1 .section1-top .buttons .b2:active {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFC22D;
  background: #212B31;
  opacity: 0.6;
  border: 1px solid #212B31;
  box-sizing: border-box;
  border-radius: 4px;
}

.section1 .section1-top .buttons .b2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  box-sizing: border-box;
  transition: all ease 0.5s;
  padding: 13px 25px;
  outline: none;
}

.section1 .section1-img {
  text-align: center;
}

.section1 .section1-img .img2 {
  margin-top: 36px;
  margin-bottom: 150px;
}

.section1 .section1-items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 142px;
}

.section1 .section1-items h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.section2 .section2-top {
  text-align: center;
}

.section2 .section2-top h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #212B31;
}

.section2 .section2-top p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;

  color: #72787D;

  margin-top: 16px;
  margin-bottom: 40px;
}



.section2 .section2-bottom .top {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  text-align: center;

  color: #212B31;

  margin-top: 145px;
  margin-bottom: 170px;
}

.section2 .section2-bottom-item {
  display: flex;
  position: relative;
  border-bottom: 1px solid #EEF2F3;
  padding-bottom: 71px;
}

.section2 .section2-bottom-item-left {
  position: relative;
}

.section2 .section2-bottom-item-left h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */


  color: #212B31;
}

.section2 .section2-bottom-item-left p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */


  color: #72787D;

  margin-top: 16px;
  margin-bottom: 28px;
}

.section2 .section2-bottom-item-left a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
  transition: all ease 0.5s;
  position: relative;
}

.section2 .section2-bottom .section2-bottom-item-left a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFD042;
  z-index: -1;
  transition: all ease .4s;
}

.section2 .section2-bottom .section2-bottom-item-left a:hover::before {
  height: 100%;
}

.section2 .section2-bottom .section2-bottom-item-left a:active::before {
  height: 100%;
  opacity: 0.3;
}



.section2 .section2-bottom-links {
  margin-top: 56px;
  margin-bottom: 136px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section2 .section2-bottom-links a {
  margin-right: 40px;
  margin-bottom: 10px;
}

.section2 .section2-bottom .last-link img {
  display: flex;
  text-align: center;
}

.section3 .section3-top {
  text-align: center;
}

.section3 .section3-top h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.section3 .section3-top p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: #72787D;

  margin-top: 21px;
  margin-bottom: 28px;
}

.section3 .section3-items .section3-item {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.section3 .section3-items .section3-item:nth-child(even) {
  flex-direction: row-reverse;
  margin-top: 19px;
  margin-bottom: 19px;
}

.section3 .section3-items .section3-item:nth-child(even) img {
  flex-direction: row-reverse;
  margin-top: 19px;
  margin-right: 91px;
}



.section3 .section3-items .section3-item h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */


  color: #212B31;
}

.section3 .section3-items .section3-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;

  margin-top: 19px;
  margin-right: 91px;
}


.section3-bottom {
  text-align: center;
  position: relative;
}

.section3-bottom h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}

.section3-bottom-top h3::after {
  content: url(../images/barg.svg);

}

.section3-bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: #72787D;

  margin-top: 17px;
  margin-bottom: 50px;
}




.section4-items {
  display: flex;
  text-align: center;
}


.section4-items .section4-item h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: #212B31;
}

.section4-items .section4-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #72787D;

  margin-bottom: 62px;
}

.notification {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background: #F6F8F9;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 110px;
  box-sizing: border-box;
}

.notification a {
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  padding: 13px 25px;
}

.notification p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #212B31;
  text-align: center;
  display: flex;
  align-items: center;
}

.notification p::before {
  content: url(../images/hands-icon.svg);
  padding-right: 26px;
}


.sign-section {
  background-image: url(../images/bgi.png);
  /* width: 1056px; */
  height: 466px;
  margin-bottom: 100px;
}

.sign-section h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212B31;
  padding-top: 117px;
  padding-bottom: 55px;
}

.sign-section .sign-button1 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 25px;
  background: #212B31;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-right: 16px;
  transition: all ease 0.5s;
}

.sign-section .sign-button1:hover {
  background: #FFFFFF;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  /* identical to box height, or 141% */

  text-align: center;

  color: #212B31;
}

.sign-section .sign-button1:active {
  background: #212B31;
  opacity: 0.6;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: #FFC22D;
}



.sign-section .sign-button2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 25px;
  transition: all ease 0.5s;
}

.sign-section .sign-button2:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;

  color: #FFFFFF;
  background: #212B31;
  border: 1px solid #212B31;
  box-sizing: border-box;
  border-radius: 4px;
}

.sign-section .sign-button2:active {
  background: #212B31;
  opacity: 0.6;
  border: 1px solid #212B31;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: #FFC22D;
}

.sign-section .buttons {
  text-align: center;
}

.section-form {
  align-items: center;
  display: flex;
  background: #212B31;
  height: 450px;
  justify-content: space-around;
  margin-bottom: 100px;
}

form input {
  display: block;
  width: 300;
  height: 50;
}

form input,
select {
  border-radius: 4px;
  padding-left: 25px;
  margin-bottom: 20px;
  border: none;
  width: 300px;
  height: 50px;
}


.section-form h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 146px;
}

.section-form .buttons {
  display: flex;
}


footer {
  display: flex;
  justify-content: space-around;
}

footer .footer-links {
  display: flex;
}

footer .footer-links .footer-link3,
.footer-link2 {
  margin-left: 160px;
}

footer .footer-links li {
  margin-bottom: 22px;
}

footer .footer-links .top-li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212B31;
}

footer .footer-links a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

footer .footer-links a:hover {
  color: #036FC7;
}

footer .footer-links a:active {
  color: rgba(3, 111, 199, 0.6);

}

.footer-adress a {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.footer1 .footer-adress .footer-logo a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #212B31;
  text-align: center;
}

.footer1 .footer-adress .footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer1 .footer-adress .footer-logo img {
  margin-right: 11px;
}

.footer1 .footer-adress .mail {
  margin-top: 10px;
}

.footer1 .footer-adress .tel {
  margin-bottom: 20px;
}

footer .footer1 {
  margin-bottom: 195px;
}


.footer-end {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-top: 1px solid #DADEDF;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.footer-end a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #72787D;
}

.footer-end p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.footer-link1 {
  margin-right: 40px;
  color: #212B31;
}

.footer-link2 {
  margin-right: 40px;
  color: #212B31;
  margin-bottom: 160px;
}

input, select {
  width: 300px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}


.knopka {
  display: block;
  width: 100%;
  background: #FFC22D;
  border-radius: 4px;
  padding: 13px 0;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  color: #000000;
  transition: all ease 0.5s;
  border: none;
  outline: none;
}

.knopka:hover {
  background: #212B31;
  border-radius: 4px;
  color: #FFC22D;
  cursor: pointer;
}

.knopka:active {
  background: #FFC22D;
  border-radius: 4px;
  color: #000000;
}